run = "npm run dev"
entrypoint = "index.js"
hidden = ["package-lock.json", ".next", ".swc"]
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"
DATABASE_URL = "$DATABASE_URL"
REPLIT_DISABLE_PACKAGE_LAYER = "1"
REPLIT_KEEP_PACKAGE_DEV_DEPENDENCIES = "1"

[deployment]
build = ["sh", "-c", "rm -rf .next && npm install && npx prisma generate && npm run build"]
run = ["sh", "-c", "npx prisma db push && npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 44295697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
